@tailwind base;
@tailwind components;
@tailwind utilities;

.threeLineText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-overflow: ellipsis;
}
.singleLineText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
